<div class="container">
  <h1>All libraries</h1>
  <% @libraries.each do |libraries| %>
    <div class="alert alert-primary">
      <h2><b><%= libraries.name %></b></h2>
      <p><%= libraries.country %>
      <p><%= libraries.body %>
      <%= link_to "Читать далее",library_path(libraries), :class => 'btn btn-outline-dark' %>
    </div>
  <% end %>
</div>
