<div class="container">
  <h1>All libraries</h1>
  <% @libraries.each do |library| %>
    <div class="alert alert-primary">
      <h2><b><%= library.name %></b></h2>
      <p><%= library.country %>
      <p><%= library.body %>
      <%= link_to "Читать далее",library_path(library), :class => 'btn btn-outline-dark' %>
    </div>
  <% end %>
</div>
